[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Otniel/Api-Gateway-Microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Otniel/products-microservicios.git
[submodule "orders-microservices"]
	path = orders-microservices
	url = https://github.com/Nest-Microservices-Otniel/Orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Otniel/payments-ms.git
